
.home {
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), 
    rgba(0, 0, 0, var(--opacidad-negro))), url("../images/img-5.jpg");
    height: 400px;
    
}