:root {
    --dark: #16191C;
    --dark-x: #1E2126; 
    --light: #ffffff;
}

.text-light { color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: var(--light);
    outline: none;
}

.img-1 {
    background-image: url('../images/img-1.jpg');
    background-size: cover;
}

.img-2 {
    background-image: url('../images/img-4.jpg');
    background-size: cover;
}
.img-3 {
    background-image: url('../images/img-3.jpg');
    background-size: cover;   
}